@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
  font-family: "Gravitas One", cursive;
  font-family: "Rammetto One", cursive;
  font-family: Comfortaa, cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p {
  font-family: "Open Sans", sans-serif;
}

.card {

  background-color: #e97065;
}

.watermellon {
  font-family: "Rammetto One", cursive;
}

.card:nth-child(2) {

  background-color: #fbd25e;
}

.starfruit {
  font-family: "Gravitas One", cursive;
}

.card:nth-child(3) {

  background-color: #e86033;
}

.persimmon {
  font-family: Comfortaa, cursive;
}
